# ========================
# Ide
# ========================
.idea

# ========================
# Python
# ========================

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# ========================
# Virtual Environment
# ========================
.venv/
venv/
ENV/
env/

# ========================
# Environment Variables
# ========================
.env
.env.local
.env.production

# ========================
# Django
# ========================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_collected/

# ========================
# IDE / Editor
# ========================
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# ========================
# AWS
# ========================
*.pem
