{% extends 'ecommerce/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'reset-password/style_password-reset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container_parent_password_reset">
    <div class="container_child_password_reset">
      <h3>Password reset form</h3>
      <hr>
      <br>
      <p> Please enter your password twice, <br> so we can verify that you typed it <br> in correctly</p>
      <br>
      <form method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <div class="button_container">
          <button id="button_index" type="submit" value="Send"><i class="fa fa-key" aria-hidden="true"></i>  Reset password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}