{% extends 'ecommerce/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'reset-password/style_password-reset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container_parent_password_reset">
    <div class="container_child_password_reset">
      <h3>Password reset</h3>
      <hr>
      <br>
      <p>Forgotten your password? Enter your email below,<br> and we'll email you instructions to set a <br> new one.</p>
      <br>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <div class="button_container">
          <button id="button_index" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i> Send mail</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}