{% extends 'ecommerce/base.html' %}
{% load static %}
{% block title %}Password complete{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'reset-password/style_password-reset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container_parent_password_reset">
    <div class="container_child_password_reset">
      <h3>Password reset form</h3>
      <hr>
      <br>
      <p> Congrats, <br> Your password have been changed!!<br></p>
      <br>
        <div class="button_container">
          <a id="button_index" href="{% url 'two_factor:login' %}"><i class="fa fa-user" aria-hidden="true"></i> Let's login</a>
        </div>
    </div>
  </div>
{% endblock %}