{% extends 'ecommerce/base.html' %}
{% load static %}
{% block title %}Password reset sent {% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'reset-password/style_password-reset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container_parent_password_reset">
    <div class="container_child_password_reset">
      <h3>Password reset sent </h3>
      <hr>
      <br>
      <p>Please check your email, <br> We have sent you a password reset link.</p>
    </div>
  </div>
{% endblock %}